//FONTS
$font-h: 'Abril Fatface', serif;
$font-p: 'YuGothicM-Medium', 'YuGothic-Medium', sans-serif;

//COLORS

$green-p: #95afb4;
$black-d: #3b3a3a;
$black-p: #4e4e4e;
$black-l: #575757;
$blue-p: #6180aa;
$blue-pt: rgba(100, 119, 145, 0.45);
$blue-l: #5080c4;
$white-p: #ffffff;
$gray-p: #c3c3c3;
$gray-l: #ededed;
$gray-d: #707070;
$red-err: #d83c51;

$mud-b: #909473;
$blog-bg: #4b4a4a;
$post-bg: #f3f3f3;
$yellow-bg: #eaea5d;
//BORDER WIDTH

$bdw-s: 1rem;
$bdw-p: 1.3rem;

//SHADOWS

$fsh-s: drop-shadow(0.3rem 0.5rem 0.4rem rgba(0, 0, 0, 0.25));
$fsh-m: drop-shadow(0.6rem 0.8rem 0.7rem rgba(0, 0, 0, 0.3));
$fsh-l: drop-shadow(0.6rem 0.9rem 0.9rem rgba(0, 0, 0, 0.35));
