////////////////
//PAGE ANIMATION

.layout-enter,
.layout-leave-to {
  opacity: 0;
  transform: translate3D(0, -10rem, 0);
}
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.2s ease-out, transform 0.5s;
}

.page-enter-active {
  transition: opacity 0.3s ease-out;
}
.page-leave-active {
  transition: opacity 0.3s ease-in;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
//////////
//SKELTON

*,
*:before,
*:after {
  box-sizing: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: calc((0.7vh + 1.08vw) / 2);
  @include respond('tab') {
    font-size: calc((1.1vh + 0.77vw) / 2);
  }
  @include respond('mobile') {
    font-size: calc((1vh + 0.77vw) / 2);
  }
  @include respond('iphoneX') {
    font-size: calc((0.9vh + 0.77vw) / 2);
  }
}

body {
  font-family: $font-p;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: $black-d;
}

h1,
h2 {
  font-family: $font-h;
  font-weight: 500;
  color: $black-d;
}
