////////////////
//PAGE ANIMATION
// .page-enter-active,
// .page-leave-active,
// .page-enter-active {
//   transition: all 0.1s ease-in;
// }
// .page-enter,
// .page-leave-active {
//   opacity: 0;
//   transform: translateZ(0);
//   backface-visibility: hidden;
// }
//////////
//SKELTON

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  --oa: calc((1.25vh + 0.8vw) / 2);
  font-size: var(--oa);
}

body {
  font-family: $font-p;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: $font-c;
  font-weight: bold;
  color: $black-d;
}

p {
  color: $black-d;
}
